<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite" parallel="tests" thread-count="2">
    <test name="gridMailTestChrome">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="MailTest"></class>
        </classes>
    </test>

</suite>
